- var hero = '<span class="fw6 lh-copy i blue">Languini</span>'
div(class='pa5-ns pa2')
  main(class="ph3 ph5-ns pt2-ns pt1 items-center")
    p(class="f1 dark-gray helvetica fw2 measure") !{hero} Helping others, one translation at a time.
