nav(class='dt w-100 border-box ph4 pt3 ph')
  a(id='home' class='dtc v-mid mid-gray link dim w-25' hef='#' title='Home')
    img(class='dib w3 h3' src='https://image.flaticon.com/icons/svg/401/401538.svg' alt='Languini')
  if user
    div(class='dtc v-mid w-75 tr')
      img(src=user.photo class="dib dim h2 f6 f5-ns br-100 ba" id='logout' alt="User Pic" data-id=user.id)
  else 
    div(class='dtc v-mid w-75 tr')
      a(class='logout link dim dark-gray f6 f5-ns dib rubik' id='login' href='#' title='Login') Login
