doctype html
html
  head
    title Languini
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css')
    link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
    link(rel='stylesheet', href='../../static/assets/css/style.css')
  body
    include includes/nav.pug
    block content
  script(src='../../static/dist/bundle.min.js')
