doctype html
html
    head
        title=title
        link(rel='stylesheet', href='https://unpkg.com/tachyons/css/tachyons.min.css')
        link(rel='stylesheet', href='../../src/assets/style.css')
    body
        block content
