input:focus {
  outline: none
}

textarea:  {
  outline: none
}

textarea:focus {
  outline: none
}

.answer:first-child #user-photo {
  border-radius: 0;
}

.comment:last-child {
  border-bottom: 0
}

.post:last-child {
  border-bottom:none
}

#submit-answer {
  float: left
}
